
// Imports

@import "bourbon/bourbon";
@import "neat/neat";
@import "globals";

$desktop:      new-breakpoint(min-width 1100px 6);
$tablet:       new-breakpoint(max-width 1024px 6);
$midway:       new-breakpoint(max-width 700px 6);
$not-mobile:   new-breakpoint(min-width 480px 6);
$mobile:       new-breakpoint(max-width 480px 2);
$small-mobile: new-breakpoint(max-width 380px 2);

body {
	-webkit-font-smoothing: antialiased;
	display: block;
	text-align: center;
	overflow-x: hidden;
}

/* =============================================================================
   Main Site Styles
   ========================================================================== */

.small {
	opacity: 1;
	position: fixed;
	top: -1px;
	left: 10%;
	background-color: #555;
	padding: 1em;
	z-index: 99;
	.menu {
		font-size: 10px;
		color: white;
		padding-top: 0.5em;
		text-transform: uppercase;
		display: none;
		img {
			width: 15px;
			opacity: .8;
		}
	}
	@include media($tablet) {
		img {
			width: 25px;
		}
		.menu {
			display: block;
		}
	}
}
.big {
	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	-ms-transition: all 250ms;
	transition: all 250ms;
	opacity: 0;
	font-family: 'Memphis';
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
	background-color: white;
	overflow: hidden;
	img {
		display: inline-block;
	}
	.year {
		-webkit-transition: all 250ms;
		-moz-transition: all 250ms;
		-mstransition: all 250ms;
		transition: all 250ms;
		cursor: pointer;
		padding: 0.5em 1em 0em 0.5em;
		display: inline-block;
		text-align: center;
		color: #c5b170;
		figure {
			-webkit-transition: all 250ms;
			-moz-transition: all 250ms;
			-mstransition: all 250ms;
			transition: all 250ms;
			margin: 0 auto;
			height: 10px;
			width: 10px;
			border: 1px solid #999;
			border-radius: 99%;
			margin-top: 25px;
			margin-bottom: 10px;
		}
		span {
			opacity: 0;
			background-position: center 95%;
			background-repeat: no-repeat;
			padding-bottom: 15px;
			position: relative;
		}
		&:hover {
			figure {
				background-color: #888;
			}
			span {
				display: block;
				opacity: 1;
				background: none;
			}
		}
		&.active {
			figure {
				background-color: #888;
			}
			span {
				display: block;
				opacity: 1;
			}
		}
	}
	&:hover {
		opacity: 1;
	}
	&.active {
		display: block;
		opacity: 1;
	}
	@include media($tablet) {
		width: 100%;
		height: 100%;
		display: none;
		padding: 1em;
		z-index: 99999999;
		font-size: 18px;
		.year {
			padding: .25em;
			display: block;
			figure {
				display: none;
			}
			span {
				display: block;
				opacity: 1;
				padding-bottom: 12.5px;
			}
			&.active {
				color: #555;
			}
		}
	}
}
.wrap {
	max-width: 800px;
	padding: 0px 20px 0 20px;	
	margin: 0 auto;
}
.miniwrap {
	max-width: 500px;
	margin: 0px auto;
	display: block;
}
.cover {
	background-color: $grey1;
	.eyebrows {
		padding: 3% 0em 10em 0em;
		.introimg {
			background-image: url('img/eyebrows.png');
			background-repeat: no-repeat;
			width: 412px;
			height: 360px;
			margin: 0 auto;
			@include media($small){
				background-size: 90%;
				background-position: center center;
				width: 95%;
			}
		}
	}
	.arrow {
		-webkit-transition: opacity 250ms;
		-moz-transition: opacity 250ms;
		-ms-transition: opacity 250ms;
		transition: opacity 250ms;
		cursor: pointer;
		&:hover {
			opacity: .2;
		}
	}
	.title {
		padding: 70px 0 70px 0;
		p {
			font-family: 'Bodoni Seventytwo Itc P OT';
			color: $gold;
			text-align: center;
			font-size: 30px;
			&.large {
				font-size: 70px;
			}
		}
	}
}
.birth {
	background-color: $grey1;
	color: #fff;
	$pink: #d39cc6; 
	padding: 30px 0 0 0;
	h3 {
		color: $pink;
		position: absolute;
		margin-left: -170px;
		left: 50%;
		@include media($small){
			left: 70% !important;
		}
	}
	h2 {
		margin: 300px 0 180px 0;
		@include media($small){
			margin: 220px 0 180px 0;
		}
	}
	.icecream {
		padding: 40px 0 100px 0;
	}
	.droplet {
		width: 8px;
		height: 90px;
		background-image: url(img/icecream_drop1.png);
		background-repeat: no-repeat;
		background-position: 0px -40px;
		position: absolute;
		left: 50%;
		margin: 117px -45px;
		&.second {
			background-image: url(img/icecream_drop2.png);
			background-repeat: no-repeat;
			margin: 75px 40px;
		}
	}
	.purple {
		background-color: $pink;
		padding: 50px 0 100px 0;
		.babydrake {
			.circle {
				height: 400px;
				border-radius: 99%;
				width: 400px;
				margin: 100px auto;
				overflow: hidden;
				background-size: 120% 100%;
				background-position: 0% 0%;
				background-image: url(img/lildrakebg.jpg);
				img {
					margin-top: 150px;
					width: 60%;
				}
				@include media($small){
					width: 95%;
					height: 350px;
				}
			}
		}
		p {
			@include wrap;
			margin-top: 100px;
			@include media($small){
				@include mopad();
			}
		}
	}
}
.foresthill {
	background-color: #f2f2f2;
	color: $grey1;
	padding: 30px 0 200px 0;
}
.hockey {
	background-color: #923133;
	color: $white;
	@include pad;
	img {
		margin-top: -250px;
		height: 275px;
	}
	h3 {
		color: $gold;
	}
}
.barmitzvah {
	background-color: #434658;
	color: $white;
	@include pad;
	.kippah {
		width: 90%;
	}
	h3 {
		color: $grey3;
	}
	h2 {
		color: $gold;
	} 
	button {
		border: 1px solid $gold;
	}
}
.degrassi {
	background-color: $bluegrey;
	color: #fff;
	padding-bottom: 100px;
	h2 {
		color: #b8deff;
	}
	h3 {
		color: #9767b7;
	}
	a {
		color: #878787;
	}
	.denimbutt {
		background-image: url('img/degrassi.png');
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		height: 600px;
		@include media($tablet) {
			background-attachment: scroll;
			background-position: center center;
		}
	}
	img {
		margin-top: -100px;
	}
}
.mixtape {
	background-color: #000;
	color: $white;
	@include pad;
	h2 {
		color: $grey3;
	}
	h3 {
		color: $gold;
	}
	blockquote {
		max-width: 400px;
	}
}
.wayne {
	padding-bottom: 100px;
	color: $grey1;
	.waynesface {
		background-color: $grey0;
		background-image: url('img/wayne.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center bottom;
		height: 700px;
		@include media($tablet) {
			background-attachment: scroll;
		}
	}
	h3 {
		color: #c42c0e;
		margin-top: 100px;
	}
	.email {
		color: #c42c0e;
		font-weight: 700;
	}

}
.dice {
	background-image: url('img/dice/tile.png');
	background-color: #bfab93;
	padding: 0 0 100px 0;
	color: $grey1;
	overflow: hidden;
	.prop {
		left: 50%;
		margin-left: -250px;
		position: absolute;
		&.feet {
			background-image: url('img/dice/feet.png');
			background-repeat: no-repeat;
			height: 290px;
			width: 500px;
			z-index: 10;
			@include media($small){
				width: 100%;
				background-size: 85%;
				background-position: 80% 0%;
			}
		}
		&.dice1 {
			background-image: url('img/dice/dice.png');
			background-repeat: no-repeat;
			height: 110px;
			width: 140px;
			z-index: 10;
			margin-left: 230px;
			margin-top: 250px;
			@include media($medium){
				left: -40%;
			}
		}
		&.dice2 {
			background-image: url('img/dice/dice.png');
			background-repeat: no-repeat;
			height: 110px;
			width: 140px;
			z-index: 10;
			margin-left: 230px;
			margin-top: 250px;
			left: 20%;
			margin-top: 400px;
			@include media($medium){
				left: -20%;
			}
		}
		&.bills {
			left: 55%;
			margin-top: 70px;
		}
		&.watch {
			left: 60%;
			margin-top: 200px;
		}
	}
	.miniwrap {
		padding-top: 500px;
	}
	button {
		color: $grey1;
		border-color: $grey1;
	}
}
.littles {
	background-color: $grey1;
	color: $white;
	@include pad();
	h3 {
		color: $grey3;
	}
	h2{
		color: $gold;
	}

}
.fired {
	background-color: $beige;
	color: $grey1;
	@include pad();
	blockquote {
		max-width: 520px;
	}
}
.littles {
	background-color: $grey1;
	color: $white;
	@include pad();
	h3 {
		color: $grey3;
	}
	h2{
		color: $gold;
	}
}
.ladieslovedrake {
	@include pad();
	color: #fff;
	background-color: $grey0;
	img {
		width: 100%;
	}
	p {
		margin: 100px 0 0 0;
	}
	h3 {
		color: #7d3b45;
	}
	h2{
		color: #fff;
	}
}
.hot97 {
	background-color: $grey1;
	color: $white;
	@include pad();
	h3 {
		color: $grey3;
	}
	h2{
		color: $gold;
	}
	a, a:visited {
		color: #979292;
	}
}
.recorddeal {
	@include pad();
	background-image: url('img/bills.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: $grey0;
	color: #fff;
	h3 {
		color: $grey3;
	}
	h2 {
		color: $gold;
	}
}
.canadagoose {
	background-color: $grey1;
	color: $white;
	background-image: url('img/canada-goose.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: 100px 0 40px 0;
	h3 {
		color: $grey3;
	}
	h2{
		color: $gold;
	}
	p.last {
		padding-bottom: 100px;
		margin-bottom: 0px;
	}
	@include media($medium){
		background-size: 120%;
		padding: 30px 0 0 0;
	}
}
.kentucky {
	padding: 100px 0 300px 0;
	background-color: $grey0;
	color: #fff;
	@include media($small){
		padding: 30px 10px 30px 10px;
	}
	h3 {
		color: $grey3;
	}
	h2 {
		color: $gold;
	}
}
.kevin {
	background-color: #a83257;
	color: #fff;
	@include pad();
	h3 {
		color: #f6d0b3;
	}
	h2, a, a:visited {
		color: #e39db3;
	}
	@include media($small){
		img {
			margin-top: -300px;
			width: 80%;
		}
	}
}
.aaliyah {
	@include pad();
	background-color: $grey0;
	color: #fff;
	h3 {
		color: $grey3;
	}
	h2 {
		color: $gold;
	}
}
.strippers {
	background-color: #4d4d4d;
	color: #fff;
	background-image: url(img/strippers/stripper-bills1.png);
	background-repeat: no-repeat;
	background-position: center top;
	.stripper1 {
		position: absolute;
		left: 50%;
		@include media($small){
			left: 20%;
		}
	}
	.stripper2 {
		left: 0px;
		width: auto;
		margin-top: 250px;
		position: absolute;
	}
	.bills {
		width: 100%;
	}
	.wrap {
		@include pad();
		padding-top: 50px;
		@include media($small){
			margin-top: 300px;
		}
	}
	h2 {
		color: #8f9c7d;
	}
	h3 {
		color: $grey3;
	}
	h4 {
		color: $gold;
	}
	a, a:visited {
		color: $grey3;
	}
}
.miami {
	@include pad();
	background-color: $grey0;
	color: #fff;
	.halo {
		background-image: url('img/loop-bottom.png');
		background-repeat: no-repeat;
		background-position: center;
		.haloup {
			position: absolute;
			z-index: 9;
			margin-top: 112px;
			margin-left: -41px;
		}
		@include media($tablet) {
			background: none;
			.haloup {
				display: none;
			}
		}
	}
	h3 {
		color: #ff9800;
	}
	h2 {
		color: $beige;
	}
}
.raptors {
	@include pad();
	background-color: #000;
	color: #fff;
	h2 {
		color: $gold;
	}
	h3 {
		color: $grey3;
	}
}
.manziel {
	@include pad();
	background-color: $grey1;
	color: #fff;
	h2 {
		color: #c6b26d;
	}
	.fist {
		position: absolute;
		height: 80%;
		width: 52.5%;
		background-repeat: no-repeat;
		background-size: 85% 100%;
		margin-top: -110px;
		&.fist1 {
			left: -5%;
			background-image: url('img/fist1.png');
			@include media($small){
				left: 0%;
			}
		}
		&.fist2 {
			right: 0%;
			background-image: url('img/fist2.png');
			@include media($small){
				right: 0%;
			}
		}
		@include media($small){
			height: 30%;
			margin-top: -50px;
		}
	}
	.copy {
		margin-top: 450px;
		@include media($small){
			margin-top: 200px;
		}
	}
	p {
		width: 75%;
		margin: 0px auto;
		margin-top: 50px;
	}
}
.espn {
	@include pad();
	background-color: $grey6;
	color: $grey1;
	blockquote {
		color: #b50002;
	}
}
.lintroller {
	background-image: url('img/lint/floor.png');
	padding: 0 0 100px 0;
	.leg {
		width: 100%;
	}
	.speckles {
		background-image: url('img/lint/speckles.png');
		position: absolute;
		left: 20%;
		margin-top: 100px;
		width: 800px;
		height: 300px;
		@include media($small){
			display: none;
		}
	}
	.roller {
		background-image: url('img/lint/roller.png');
		background-position: -15px 0px;
		height: 720px;
		width: 147px;
		position: absolute;
		z-index: 5;
		margin-top: 100px;
		left: 20%;
		overflow: hidden;
		div {
			background-image: url('img/lint/lint.png');
			width: 300%;
			margin: 18px auto;
			height: 300px;
		}
		@include media($small){
			height: 310px;
			width: 300px;
			background-size: 25%;
			background-repeat: no-repeat;
			margin-top: 20px;
		}
	}
}
.teams {
	background-color: #282629;
	color: #808080;
	padding: 50px 10px 50px 10px;
	.container {
		max-width: 1100px;
		margin: 0 auto;
	}
	p {
		margin: 0 auto;
	}
	.col {
		@include span-columns(3);
		margin-right: 10px;
		margin-bottom: 10px;
		background-color: #363636;
		.logo {
			background-color: #454545;
		}
		h5 {
			font-size: 21px;
			margin: 30px 0 30px 0;
			color: #a8a869;
		}
		h2 {
			margin: 40px 0 30px 0;
			font-size: 28px;
		}
		@include media($medium) {
			width: 100%;
		}
	}
}
.conclusion {
	@include pad();
	color: #fff;
	background-color: #333;
	h3 {
		font-size: 100px;
	}
	@include media($medium) {
		img {
			width: 80%;
		}
	}
}

footer {
	background-color: #4d4d4d;
	color: #b3b3b3;
	font-size: 22px;
	.wrapper {
		max-width: 1100px;
		margin: 0 auto;
	}
	a {
		color: #b3b3b3;
	}
	.colmid {
		img {
			margin: -100px auto;
			display: block;
			@include media($small){
				margin: 0 auto;
			}
		}
		.email {
			margin: 104px 0 30px 0;
			@include media($small){
				margin: 0px;
			}
		}
	}
	.colright, .colleft {
		padding: 30px;
	}
	.colleft {
		text-align:left;
		@include media($small){
			text-align: center;
		}
	}
	.column {
		@include span-columns(4);
		@include outer-container();
		padding: 50px 0 30px 0;
		@include media($small){
			@include fill-parent();
			padding: 10px 10px 10px 10px;
		}
	}
}
.disclaimer {
	background-color: #666666;
	text-align: center;
	padding: 20px;
	font-family: 'Arial';
	color: #808080;
}


