html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'AdobeGaramondProRegular';
  src: url("fonts/agaramondpro-regular.eot");
  src: url("fonts/agaramondpro-regular.eot") format("embedded-opentype"), url("fonts/agaramondpro-regular.woff") format("woff"), url("fonts/agaramondpro-regular.ttf") format("truetype"), url("fonts/agaramondpro-regular.svg#AdobeGaramondProRegular") format("svg"); }

body {
  font-family: 'Adobe Garamond Pro'; }

h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: normal;
  margin: 60px 0 60px 0; }

h3 {
  font-size: 170px;
  margin: 30px 0 30px 0;
  font-weight: normal; }

h4 {
  font-family: 'Bodoni Seventytwo Itc P OT';
  font-size: 20px;
  margin: 30px 0 30px 0; }

p {
  font-size: 26px;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 26px; }

blockquote {
  font-size: 50px;
  margin: 50px auto; }

button {
  padding: 30px; }

body {
  -webkit-font-smoothing: antialiased;
  display: block;
  text-align: center; }

/* =============================================================================
   Main Site Styles
   ========================================================================== */
.wrap {
  max-width: 800px;
  padding: 0px 20px 0 20px;
  margin: 0 auto; }

.miniwrap {
  max-width: 500px;
  margin: 0 auto; }

.cover {
  background-color: #333333; }
  .cover .eyebrows {
    padding: 3% 0em 10em 0em; }
  .cover .arrow {
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -ms-transition: opacity 250ms;
    transition: opacity 250ms;
    cursor: pointer; }
    .cover .arrow:hover {
      opacity: .2; }
  .cover .title {
    padding: 70px 0 70px 0; }
    .cover .title p {
      font-family: 'Bodoni Seventytwo Itc P OT';
      color: #c6b26d;
      text-align: center;
      font-size: 30px; }
      .cover .title p.large {
        font-size: 70px; }

.birth {
  background-color: #333333;
  color: #fff;
  padding: 30px 0 0 0; }
  .birth h3 {
    color: #d39cc6; }
  .birth h2 {
    margin: 100px 0 180px 0; }
  .birth .icecream {
    padding: 40px 0 100px 0; }
  .birth .droplet {
    width: 8px;
    height: 90px;
    background-image: url(img/icecream_drop1.png);
    background-repeat: no-repeat;
    background-position: 0px -40px;
    position: absolute;
    left: 50%;
    margin: 117px -45px; }
    .birth .droplet.second {
      background-image: url(img/icecream_drop2.png);
      background-repeat: no-repeat;
      margin: 75px 40px; }
  .birth .purple {
    background-color: #d39cc6;
    padding: 0 0 100px 0; }
    .birth .purple .babydrake img {
      margin-top: -100px; }
    .birth .purple p {
      max-width: 600px;
      margin: 0 auto;
      margin-top: 60px; }

.foresthill {
  background-color: #f2f2f2;
  color: #333333;
  padding: 30px 0 200px 0; }

.hockey {
  background-color: #923133;
  color: white;
  padding: 100px 20px 100px 20px; }
  .hockey img {
    margin-top: -250px;
    height: 275px; }
  .hockey h3 {
    color: #c6b26d; }

.barmitzvah {
  background-color: #434658;
  color: white;
  padding: 100px 20px 100px 20px; }
  .barmitzvah h3 {
    color: gray; }
  .barmitzvah h2 {
    color: #c6b26d; }

.degrassi {
  background-color: #282629;
  color: #fff;
  padding-bottom: 100px; }
  .degrassi h2 {
    color: #b8deff; }
  .degrassi h3 {
    color: #9767b7; }
  .degrassi .denimbutt {
    background-image: url("img/degrassi.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 600px; }
  .degrassi img {
    margin-top: -100px; }

.mixtape {
  background-color: #000;
  color: white;
  padding: 100px 20px 100px 20px; }
  .mixtape h2 {
    color: gray; }
  .mixtape h3 {
    color: #c6b26d; }
  .mixtape blockquote {
    max-width: 400px; }

.wayne {
  padding-bottom: 100px;
  color: #333333; }
  .wayne .waynesface {
    background-color: #282629;
    background-image: url("img/wayne.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    height: 700px; }
  .wayne h3 {
    color: #c42c0e;
    margin-top: 100px; }
  .wayne .email {
    color: #c42c0e;
    font-weight: 700; }

.dice {
  background-image: url("img/shoes.png");
  background-repeat: no-repeat;
  padding: 500px 0 100px 0;
  color: #333333; }

.littles {
  background-color: #333333;
  color: white;
  padding: 100px 20px 100px 20px; }
  .littles h3 {
    color: gray; }
  .littles h2 {
    color: #c6b26d; }

.fired {
  background-color: #c7b299;
  color: #333333;
  padding: 100px 20px 100px 20px; }

.littles {
  background-color: #333333;
  color: white;
  padding: 100px 20px 100px 20px; }
  .littles h3 {
    color: gray; }
  .littles h2 {
    color: #c6b26d; }

.ladieslovedrake {
  padding: 100px 20px 100px 20px;
  color: #fff;
  background-color: #282629; }
  .ladieslovedrake p {
    margin: 100px 0 0 0;
    max-width: 500px; }
  .ladieslovedrake h3 {
    color: #7d3b45; }
  .ladieslovedrake h2 {
    color: #fff; }

.hot97 {
  background-color: #333333;
  color: white;
  padding: 100px 20px 100px 20px; }
  .hot97 h3 {
    color: gray; }
  .hot97 h2 {
    color: #c6b26d; }

.recorddeal {
  padding: 100px 20px 100px 20px;
  background-color: #282629;
  color: #fff; }
  .recorddeal h3 {
    color: gray; }
  .recorddeal h2 {
    color: #c6b26d; }

.canadagoose {
  background-color: #333333;
  color: white;
  background-image: url("img/canada-goose.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 100px 0 0 0; }
  .canadagoose h3 {
    color: gray; }
  .canadagoose h2 {
    color: #c6b26d; }
  .canadagoose p.last {
    padding-bottom: 100px;
    margin-bottom: 0px; }

.kentucky {
  padding: 100px 0 300px 0;
  background-color: #282629;
  color: #fff; }
  .kentucky h3 {
    color: gray; }
  .kentucky h2 {
    color: #c6b26d; }

.kevin {
  background-color: #a83257;
  color: #fff;
  padding: 100px 20px 100px 20px; }
  .kevin img {
    margin-top: -300px; }
  .kevin h3 {
    color: #f6d0b3; }
  .kevin h2 {
    color: #e39db3; }

.aaliyah {
  padding: 100px 20px 100px 20px;
  background-color: #282629;
  color: #fff; }
  .aaliyah h3 {
    color: gray; }
  .aaliyah h2 {
    color: #c6b26d; }

.strippers {
  padding: 100px 20px 100px 20px;
  background-color: #4d4d4d;
  color: #fff; }
  .strippers h2 {
    color: #8f9c7d; }
  .strippers h3 {
    color: gray; }
  .strippers h4 {
    color: #c6b26d; }

.miami {
  padding: 100px 20px 100px 20px;
  background-color: #282629;
  color: #fff; }
  .miami h3 {
    color: #ff9800; }
  .miami h2 {
    color: #c7b299; }

.raptors {
  padding: 100px 20px 100px 20px;
  background-color: #000;
  color: #fff; }
  .raptors h2 {
    color: #c6b26d; }
  .raptors h3 {
    color: gray; }

.espn {
  padding: 100px 20px 100px 20px;
  background-color: #f2f2f2;
  color: #333333; }
  .espn blockquote {
    color: #b50002; }
